@import "./variables.scss";

.homepage{
    display: flex;
    height: 100vh;
    width: 100%;
    .left-side{
        border: 1px solid red;
        height: 100vh;
        width: 100%;
        background:blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        .logo-wrapper{
           
           svg{
              color: white;  
           }
        }
    }
     .right-side{
        border: 1px solid  yellow;
        height: 100vh;
         width: 100%;
    }
}