@import "../../styles/sass/variables.scss";
@import "../../styles/sass/variables.scss";

.model-title{
    font-size: 22px;
}
.rate-modal-title{
    font-size: 16px;
    text-align: center !important;
}
.rate-modal-company-name{
    font-size: 16px;
    text-align: center !important;
    margin-left: 20%;
}
.model-add-image{
    height: 100px !important;
    width: 100px !important;
    background-color: white;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #051D5329;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-error-message{
    color: $red_color !important;
    font-size: small;
    margin-left: 2.5%;
}
.rate-icon-wrapper{
    height: 200px !important;
    width: 200px !important;
    padding: 0;
  img{
      transform: scale(1.7);
    margin-left: 47.5%;
    margin-right: 40%;
    margin-bottom: 15%;
    text-align: center;
    height: 8vh !important;
    width: 8vh !important;
    border-radius: 50% !important;
  }
}
.rating-txt{
text-align: center;
font: normal normal normal 12px/18px Poppins;
letter-spacing: 0.84px;
color: #777777;
opacity: 0.5;
justify-content: center;
width: 100%;
margin-top: -30%;
}

.user-icon{

fill: #D0D0D0 0% 0% no-repeat padding-box;
opacity: 0.3;
height: 7vh;
justify-content: center;
align-items: center;
align-self: center;
}


.camera-icon-wrapper{
box-shadow: 0px 3px 6px #051D5329;
border-radius: 50%;
margin-right: auto;
margin-left: -42%;
margin-top: 14%;
background: white;
width: 35px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
svg{
opacity: 1;
height: 10px !important;
width: 10px !important;
float: left;
}
}
.image-add-btn{
    color: white;
    border: none;
    font-weight: bold;
    padding: 5px;
}
.add-employer-form-row{
    width: 100%;
    margin-top: 2%;
    padding: 7% !important;
}
  .rating-stars{
        font-size: small;
    text-align: center !important;
    }
.add-employer-form{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.rate-text-title{
    text-align: left !important;
letter-spacing: 1.29px !important;
color: #1E2022 !important;
opacity: 1 !important;
font-size: 14px;
font-weight: bold;
margin-bottom: -5px;
}
.rating-footer{
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5%;
}
.form-input{
    width: 345px;
    height: 6vh;
    margin-bottom: 2%;
    background: #00349621 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 0.76;
    border: none;
    padding-left: 25px;
    color: $main_blue !important;
    opacity: .5;
}
.form-submit-btn{
    margin-top: 2rem;
    width: 6rem;
    height: 5.5vh;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 6px;
}
.add-employer-form{

}
