@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "https://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import "./styles/sass/variables.scss";

.App {
  text-align: center;
}

.menu-item{
    height: 10vh !important;
}
.side-bar{
background: white !important;
width: 500px !important;
}
.search-box{
  background-color: #E8E8E834 !important;
}
// .side-menu{
//     background: white !important;
// }
.side-menu-item{
    color: black !important;
    display: flex;
    justify-content: left;
    align-items: left;
}
.active-menu{
    color: red !important;
}

//top nav
.top-nav{
    z-index: 100;
    height: 15vh !important;
    background: white !important;
    display: grid;
}
.topnav-title{
color: $main_blue !important;
text-align: left;
font-weight: bold;
font-size: 24px;
margin-top: 1%;
margin-left: 10%;
}
.menu-bar{
    display: grid;
    grid-template-columns: 30% auto 20%;
    height: 15vh !important;
    padding-top: 3vh !important;

}
.search-bar{
    width: 80% !important;
    border-radius: 10px !important;
    height: 7vh;
    background: #E8E8E834 0% 0% no-repeat padding-box !important;
}


.blue-txt{
  font-family: $poppins;
    span{
         color: blue !important;
         cursor: pointer;
    }
}
.text-center{
    text-align: center;
}
.col-white{
    color: white;
}
.home-txt{
    letter-spacing: 2.7px;
    font-family: $poppins;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10%;
}



.dark-mode{
    background-color: black !important;
    transition: 2s ease-in-out !important;
}

.ant-menu-item-selected{
    background-color: $main_blue !important;
}
.ant-layout-sider-trigger{
    background-color: white !important;
    color: blue !important;
    span{
        font-size: 24px;
    }
// ::after{
//     content: "Hide";
//     color: cyan !important;
//     font-size: 18px;
//     padding-bottom: 30px !important;
//     color: $main_blue !important;
// }
}

.logout-btn{
    cursor: pointer !important;
}

.dark-mode-btn{
    cursor: pointer !important;
}
.ad-lay{
    background-color: yellow  !important;
}
.dark{
    background-color: #0A043C !important;
    color: white !important;
    transition: .3s ease-in-out !important;
}
.side-div{
    background-color: yellow;
    margin: 5%;
}
