@import "../../styles//sass/variables.scss";

.password-show{
    color: red !important;
}
.eye-icon{
  position: absolute;
  top: 15%;
  margin-left: -10%;
  color: black;
  cursor: pointer;
}
.error-msg{
  margin-top: 5% !important;
}